.blackKey,
.whiteKey {
  margin: 0.2rem;
  min-height: 8rem;
  min-width: 2rem;
  display: flex;
  flex-direction: column-reverse;
}

.blackKey {
  background: purple;
  color: pink;
}

.whiteKey {
  background: pink;
  color: purple;
}
